body {
    background-color: rgb(229, 242, 247);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
#app {
    display: block;
}
a {
    text-decoration: none;
}
#progress {
    font-family:monospace;
    top: 2%;
    margin-bottom:  1%;
    margin-left: 0.5%;
    font-size: 17px;
    font-weight: bold;
}
nav {
    background-color: beige;
    padding: 2% 1%;
    border-radius: 10px;
    box-shadow: 2px 1px 3px 0.5px black;
}
label{
    box-shadow: 1px 2px 1px 0.5px black;
    padding: 7px 4px;
    display: inline-block;
    width: 40%;
    cursor: pointer;
    margin: auto 6%;
    text-align: center;
    background-color: rgb(240, 145, 101);
    box-shadow: 1px 1px 2px 1px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
}
#line {
    display: block;
    position: absolute;
    visibility: hidden;
    left: 26.9%;
    top: 29.5%;
    width: 7%;
    border-bottom: 3px solid black;
    transition: all 0.5s;
}
#btcour {
    padding: 15px 30px;
    box-shadow: 2px 1px 3px 0.5px black;
    left: 50%;
    top: 100%;
    border-radius: 10px;
    margin-left: 26%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(202, 188, 63, 0.658);
    transition: all 0.6s;
    transform: scale(0.9);
}
#btquiz {
    padding: 15px 30px;
    box-shadow: 2px 1px 3px 0.5px black;
    left: 50%;
    top: 100%;
    border-radius: 10px;
    margin-left: 26%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(226, 209, 57);
    transition: all 0.6s;
}
#introduction {
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 40px;
}
h1 {
    font-size: 35px;
}
h2 {
    font-size: 30px;
}
li {
    font-size: 32px;
    font-weight: bolder;
}
p {
    font-size: 20px;
    font-weight: 500;
    margin-left: 1%;
}
#correc {
    padding: 10px 15px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    left: 45%;
    top: 50%;
}
#finger {
    position: absolute;
    left: 40%;
    top: 50%;
    rotate: -90deg;
}
#pair {
    display: block;
    left: 10%;
    top: 60%;
    height: 60%;
    width: 40%;
    filter: blur(15px);
    opacity: 0.8;
    position: absolute;
    transition: all 1s;
}
#correc {
    padding: 10px 15px;
    background-color: aqua;
    color: rgb(15, 15, 15);
    transition: all 0.5s;
    cursor: pointer;
}
#correc:hover {
    transform: scale(1.01);
}
#correction {
    display: block;
    margin-top: 3%;
    margin-left: 2%;
}
#mainquiz {
    display: block;
    position: absolute;
    top: 120%;
    left: 3%;
}
#instruc {
    font-size: 20px;
}
input[type="radio"],label{
    margin-bottom: 2%;
    margin-top: 1%;
    margin-left: 3%;
    font-size: 20px;
}
#score {
    display: block;
    width: 60%;
    margin-left: 50%;
    font-size: 30px;
}
#fin2 {
    position: absolute;
    top: 105%;
    width: 100%;
    font-size: 25px;
}
#courr {
    position: absolute;
    border-radius: 10px;
    top: 105.5%;
    left:  -9%;
    width: 15%;
    padding: 15px 7px;
    margin-left: 60%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(226, 125, 57);
    transition: all 0.6s;
}
#sumb1 {
    padding: 17px 40px;
    position: absolute;
    left: 55%;
    top: 100%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(226, 209, 57);
    transition: all 0.6s;
}
#sumb1:hover{
    transform: scale(1.01);
}
#sumb2 {
    display: none;
    padding: 17px 35px;
    position: absolute;
    left: 65%;
    top: 100%;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(226, 139, 57);
    transition: all 0.6s;
}
#reset {
    position: absolute;
    left: 92%;
    top: 102.5%;
    padding: 10px 25px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(68, 118, 255);
    transition: all 0.6s;
}
#fin1 {
    position: absolute;
    left: 0%;
    top: 102%;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}
#foot {
    position: absolute;
    top: 604%;
    left: 3%;
}
#start {
    display: block;
    margin-left: 2%;
}