body {
    background-color: rgb(236, 255, 244);
    padding: 0;
    margin: 0;
}
#introduction {
    display: block;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 23px;
}
a {
    text-decoration: none;
}
#pos {
    top: 50%;
    left: 70%;
    position: absolute;
}
#progress {
    font-size: 20px;
}
#int{
    font-size: 28px;
    font-weight: bold;
    margin-left: 1%;
}
#quiz {
    display: block;
    margin-left: 5%;
}
#sumb1 {
    padding: 17px 35px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(226, 209, 57);
    transition: all 0.6s;
}
#sumb2 {
    padding: 15px 30px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(226, 139, 57);
    transition: all 0.6s;
    display: none;
}
#instruc {
    background-color: rgb(125, 203, 230);
    box-shadow: 1px 2px 1px 0.5px black;
    text-align:center;
    font-weight: bold;
    width: 60%;
    height: 55px;
    text-align: center;
    border-radius: 10px;
    margin: auto 4%;
    font-size: 26px;
}label{
    box-shadow: 1px 2px 1px 0.5px black;
    padding: 10px 10px;
    display: block;
    width: 45%;
    margin: auto 10%;
    text-align: center;
    background-color: rgb(209, 71, 71);
    box-shadow: 1px 1px 2px 1px;
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
}
input[type="radio"] {
    margin-top: 3%;
    visibility: hidden;
}
input[type="radio"]:checked + label {
    background-color: aqua;
}
#imquiz {
    display: block;
    border-radius: 10px;
    margin: auto 15%;
}
#quiz {
    display: block;
    padding: 10px 100px;
    box-shadow: 1px 5px 7px 4px black;
    border-radius: 10px;
    margin: auto;
    width: 80%;
    background-color: rgba(255, 230, 230, 0.219)
}
#innt {
    display: block;
    border-radius: 10px;
    width: 95%;
    margin: auto;
    padding: 8px 20px;
    box-shadow: 2px 0.8px 1px 2px black;
    background-color: rgb(250, 246, 243);
}
#fin1 {
    position: absolute;
    left: 0%;
    top: 102%;
    width: 100%;
    font-size: 25px;
    font-weight: bold;
}
#score {
    display: block;
    width: 60%;
    margin-left: 50%;
    font-size: 30px;
}
.vouf {
    color: red;
    text-shadow: 1px 1px 0.5px rgba(0, 0, 0, 0.267);
    font-size: 30px;
    font-weight: bold;
}